@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-inter), system-ui, sans-serif;
  --color-custom-blue: #4485d7;
}

:root {
  color-scheme: dark;
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --background: 222 17% 6%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.post-card {
  transition: transform 0.2s ease-in-out;
}

.post-card:hover {
  transform: translateY(-4px);
}
